html, body {
  height: 100%;
  margin: 20px;
}

#root {
  display: flex;
  flex-direction: column; 
  flex:1;
}
.home-btns{
  display: flex;
  gap: 20px;
  float: right;
  padding-top: 20px !important;
  padding-inline: 30px !important;
  margin-right: 90px !important;
  
  
}

.logo{
  background-image: url(logo/logo.svg);
  height: 50px;
  width: 150px;
  background-size: cover;
  
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}
